
    <div class='login js-login'>
            {{!-- <form   autocomplete="off"> --}}
                    <label for="Email">Email:</label><br>
                    <input type="text" id="email" name="email" autocomplete="off"><br>
                    <label for="Password">Password:</label><br>
                    <input type="password" id="password" name="password" autocomplete="off">
                    <button class='js-loginbtn'>Sign In</button>
                    <button class='js-goto-register'>Register</button>
            {{!-- </form> --}}
        
    </div>


<script src='/login.js'></script>
