
    <div class='login js-login'>
            <form>
                    <label for="Email">Email:</label><br>
                    <input type="text" id="email" name="email"><br>
                    <label for="Password">Password:</label><br>
                    <input type="password" id="password" name="password">
            </form>
        <button class='js-loginbtn'>Sign In</button>
        <button class='js-goto-register'>Register</button>
    </div>


<script src='/login.js'></script>
