
    
    <div class='login js-inputfield'>
            
                    <label for="fname">First name:</label><br>
                    <input type="text" id="rfname" name="rfname"><br>
                    <label for="lname">Last name:</label><br>
                    <input type="text" id="rlname" name="rlname"><br>
                    <label for="remail">Email:</label><br>
                    <input type="text" id="remail" name="remail" autocomplete="off"><br>
                    <label for="password">Password:</label><br>
                    <input type="password" id="rpassword" name="rpassowrd">
                    <button class='js-registerbtn'>Register</button>

            
    </div>



<script src='/register.js'></script>
